mcd-dev/src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="mainFlow" doc:id="9c741ae9-0f52-4427-993c-f2117b9dbe00" >
		<http:listener doc:name="Listener" doc:id="9a86ec75-eedb-4ca1-92e3-ec0eab359157" config-ref="HTTP_Listener_config" path="/mainxml"/>
		<ee:transform doc:name="Transform Message" doc:id="f9d0cd10-1080-4b32-8930-a080be42c42e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each [ Accounts ]" doc:id="355e518b-2ead-4aeb-bb4a-88fc93d0cb02" collection="#[payload.accounts]">
			<ee:transform doc:name="Transform Message" doc:id="6ea2970c-b7e1-4da5-b01d-55f85d6d29a8" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0]]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		</foreach>
	</flow>
</mule>
